/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-default
{
  background-color:#f0f0f0;
  opacity: 0.75;
  z-index: 999999;
}

.navbar-nav li a,h4{
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.navbar-brand
{
 font-family: 'Lobster', cursive;
 font-size: 20px;
 color: black;
 padding:12px;
}
.tabbable a{
  font-family: 'Lobster', cursive;
  font-size: 18px;
  color: black;
  padding:12px;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */
#mycarousel .item
{
  height: 665px;
}

.slide
{
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.carousel-inner .item .carousel-caption
{
position: absolute;
top:300px;
text-align: center;
z-index: 9999;
}

.slide .backdrop
{
  background: black;
  height: 100%;
  width: 100%;
  opacity: 0.45;
  top:0;
  left: 0;
  position: absolute;
  z-index: 99;
}

.carousel-control
{
  z-index: 99999;
}
.carousel-indicators
{
  z-index: 999999;
}

#slide1
{
  background: url('../../images/Designer.jpg') top center no-repeat;
  background-size: cover;
}
.carousel-caption h2
{
  color: #FFFAFA;
  z-index:9999;
  font-family: 'Slabo 27px', serif;
  font-size: 40px;
  word-spacing: 9px;
}

.carousel-caption p{
  font-size: 20px;
}
#slide2
{
  background: url('../../images/manufacturing.jpg') top center no-repeat;
  background-size: cover;
}

#slide3
{
  background: url('../../images/flacons-parfums-1.jpg') top center no-repeat;
background-size: cover;
}

#inputMessage
{
  margin-bottom: 15px;
}


/* --------------------------------------
   Callout
   -------------------------------------- */
   .well .page-header
   {
     margin-top: 0px;
   }

   .well .page-header h2
   {
     margin-top: 0px;
   }
   .well
   {
     margin: 10px;
   }

/* --------------------------------------
   Layout
   -------------------------------------- */



.panel img
{
  background-size: cover;
}

#features
{
  text-align: center;
}
#features img
{
  margin: 0 0 20px;
}

footer
{
  background: #333;
  color: #eee;
  font-size: 14px;
  padding: 20px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */
.tab-content .tab-pane  p{
  color: black;
}
ul.unstyled
{
  list-style: none;
  padding: 0;
}

.font h2
{

  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: black;
  padding:12px;
  text-align:center;
}
.sizing img
{
  width: 100%;
  height:670px;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
.thumbnails
{
  margin: 20px 0;
}
.thumbnail
{
  position: relative;
}
ul .nav-tabs li
{
  text-align: center;
}

.tabbable ul li
{
  text-align: center;
}

.fontdes h4
{
  text-align: center;
  font-family: 'Slabo 27px', serif ,solid;
  color: black;
  font-size: 18px;
  word-spacing: 5px;
}
.well h4
{
  text-align: center;
  font-family: 'Slabo 27px', serif;
  color: black;
  font-size: 16px;
  word-spacing: 5px;
}

.well h2
{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 28px;
  word-spacing: 5px;
}
.row .btn
{
  color: white;
}

#slide1
{
  background: url('../../images/imag/original_wool.jpg') top center no-repeat;
  background-size: cover;
}
#slide2
{
  background: url('../../images/imag/original_jean.jpg') top center no-repeat;
  background-size: cover;
}

#slide3
{
  background: url('../../images/imag/original_scent.jpg') top center no-repeat;
background-size: cover;
}
.thumbnails  h5{
  text-align: center;
  font-family: 'Slabo 27px', serif;
  color: black;
  font-size: 16px;
  word-spacing: 2px;

}
.thumbnails h2
{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 20px;
  word-spacing: 5px;
}
.carousel-caption h2
{
  color: #FFFAFA;
  z-index:9999;
  font-family: 'Slabo 27px', serif;
  font-size: 22px;
  word-spacing: 9px;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */

/* Landscape phone to portrait tablet */



/* Large desktop */
@media (min-width: 1200px) {
  #mycarousel .item
  {
    height: 665px;
  }
  #slide1
  {
    background: url('../../images/imag/large_wool.jpg') top center no-repeat;
    background-size: cover;
  }
  #slide2
  {
    background: url('../../images/imag/large_jean.jpg') top center no-repeat;
    background-size: cover;
  }

  #slide3
  {
    background: url('../../images/imag/large_scent.jpg') top center no-repeat;
  background-size: cover;
  }
  .carousel-caption h2
  {
    color: #FFFAFA;
    z-index:9999;
    font-family: 'Slabo 27px', serif;
    font-size: 32px;
    word-spacing: 9px;
  }

  .carousel-caption p{
    font-size: 20px;
  }
  .row #img1 img:hover
  {
    transform: scale(1.6);
    position: relative;
    z-index: 999999;
  }
  .row #img1 img
  {
  transition: all 0.3s ease 0s;
  margin: 0px;

  }
}

@media (max-width: 768px) {
  #mycarousel .item
  {
    height: 550px;
  }

  #slide1
  {
    background: url('../../images/imag/small_wool.jpg') top center no-repeat;
    background-size: cover;
  }

  #slide2
  {
    background: url('../../images/imag/small_jean.jpg') top center no-repeat;
    background-size: cover;
  }

  #slide3
  {
    background: url('../../images/imag/small_scent.jpg') top center no-repeat;
  background-size: cover;
  }
  .carousel-caption h2
  {
    color: #FFFAFA;
    z-index:9999;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    word-spacing: 9px;
    text-align: center;
  }
  .carousel-caption p{
    font-size: 15px;
  }
  .carousel-inner .item .carousel-caption
  {
  position: absolute;
  top:240px;
  text-align: center;
  z-index: 9999;
  }


}

@media (max-width: 480px) {
  #mycarousel .item
  {
    height: 450px;
  }
#slide1
{
  background: url('../../images/imag/xtrasmall_wool.jpg') top center no-repeat;
  background-size: cover;
}

#slide2
{
  background: url('../../images/imag/xtrasmall_jean.jpg') top center no-repeat;
  background-size: cover;
}

#slide3
{
  background: url('../../images/imag/xtrasmall_scent.jpg') top center no-repeat;
background-size: cover;
}

  .carousel-caption h2
  {
    color: #FFFAFA;
    z-index:9999;
    font-family: 'Slabo 27px', serif;
    font-size: 15px;
    word-spacing: 5px;
  bottom: 900px;
  }
  .carousel-caption p{
    font-size: 12px;
  }
  .carousel-inner .item .carousel-caption
  {
  position: absolute;
  top:180px;
  text-align: center;
  z-index: 9999;
  }

}


footer
{
  background-color:#f0f0f0;
}
footer h6,h5,a
{
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
